In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df_summer = pd.read_csv("Athletes_summer_games[1].csv")
df_winter = pd.read_csv("Athletes_winter_games[1].csv")
df_regions = pd.read_csv("regions[1].csv")

In [7]:
df_summer

,Unnamed: 0,Name,Sex,Age,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,0,A Dijiang,M,24.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,1,A Lamusi,M,23.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,2,Gunnar Nielsen Aaby,M,24.0,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,3,Edgar Lindenau Aabye,M,34.0,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,26,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
237668,15116,ZWOLINSKA Klaudia,F,22.0,Poland,POL,2020 Summer,2020,Summer,Tokyo,Canoe Slalom,Women's Kayak,NaN
237669,15117,ZYKOVA Yulia,F,25.0,Russia,ROC,2020 Summer,2020,Summer,Tokyo,Shooting,50m Rifle 3 Positions Women,Silver
237670,15118,ZYUZINA Ekaterina,F,24.0,Russia,ROC,2020 Summer,2020,Summer,Tokyo,Sailing,Women's One Person Dinghy - Laser Radial,NaN
237671,15119,ZYZANSKA Sylwia,F,24.0,Poland,POL,2020 Summer,2020,Summer,Tokyo,Archery,Women's Individual,NaN
237672,15120,ZYZANSKA Sylwia,F,24.0,Poland,POL,2020 Summer,2020,Summer,Tokyo,Archery,Mixed Team,NaN

In [8]:
df_summer.isnull().sum()

Unnamed: 0         0
Name               0
Sex                0
Age             9189
Team               0
NOC                0
Games              0
Year               0
Season             0
City               0
Sport              0
Event              0
Medal         201136
dtype: int64

In [9]:
df_summer['Medal'] = df_summer['Medal'].fillna("No medal")

In [10]:
df_summer

,Unnamed: 0,Name,Sex,Age,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,0,A Dijiang,M,24.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,No medal
1,1,A Lamusi,M,23.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,No medal
2,2,Gunnar Nielsen Aaby,M,24.0,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,No medal
3,3,Edgar Lindenau Aabye,M,34.0,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,26,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,No medal
...,...,...,...,...,...,...,...,...,...,...,...,...,...
237668,15116,ZWOLINSKA Klaudia,F,22.0,Poland,POL,2020 Summer,2020,Summer,Tokyo,Canoe Slalom,Women's Kayak,No medal
237669,15117,ZYKOVA Yulia,F,25.0,Russia,ROC,2020 Summer,2020,Summer,Tokyo,Shooting,50m Rifle 3 Positions Women,Silver
237670,15118,ZYUZINA Ekaterina,F,24.0,Russia,ROC,2020 Summer,2020,Summer,Tokyo,Sailing,Women's One Person Dinghy - Laser Radial,No medal
237671,15119,ZYZANSKA Sylwia,F,24.0,Poland,POL,2020 Summer,2020,Summer,Tokyo,Archery,Women's Individual,No medal
237672,15120,ZYZANSKA Sylwia,F,24.0,Poland,POL,2020 Summer,2020,Summer,Tokyo,Archery,Mixed Team,No medal

In [11]:
df_summer_clean = df_summer.drop(['Age', 'Games'], axis=1)
df_summer_clean

,Unnamed: 0,Name,Sex,Team,NOC,Year,Season,City,Sport,Event,Medal
0,0,A Dijiang,M,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,No medal
1,1,A Lamusi,M,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,No medal
2,2,Gunnar Nielsen Aaby,M,Denmark,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,No medal
3,3,Edgar Lindenau Aabye,M,Denmark/Sweden,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,26,"Cornelia ""Cor"" Aalten (-Strannood)",F,Netherlands,NED,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,No medal
...,...,...,...,...,...,...,...,...,...,...,...
237668,15116,ZWOLINSKA Klaudia,F,Poland,POL,2020,Summer,Tokyo,Canoe Slalom,Women's Kayak,No medal
237669,15117,ZYKOVA Yulia,F,Russia,ROC,2020,Summer,Tokyo,Shooting,50m Rifle 3 Positions Women,Silver
237670,15118,ZYUZINA Ekaterina,F,Russia,ROC,2020,Summer,Tokyo,Sailing,Women's One Person Dinghy - Laser Radial,No medal
237671,15119,ZYZANSKA Sylwia,F,Poland,POL,2020,Summer,Tokyo,Archery,Women's Individual,No medal
237672,15120,ZYZANSKA Sylwia,F,Poland,POL,2020,Summer,Tokyo,Archery,Mixed Team,No medal

In [12]:
df_summer_clean = df_summer_clean.rename(columns={'Unnamed: 0': 'player_id'})

In [13]:
df_summer_clean

,player_id,Name,Sex,Team,NOC,Year,Season,City,Sport,Event,Medal
0,0,A Dijiang,M,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,No medal
1,1,A Lamusi,M,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,No medal
2,2,Gunnar Nielsen Aaby,M,Denmark,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,No medal
3,3,Edgar Lindenau Aabye,M,Denmark/Sweden,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,26,"Cornelia ""Cor"" Aalten (-Strannood)",F,Netherlands,NED,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,No medal
...,...,...,...,...,...,...,...,...,...,...,...
237668,15116,ZWOLINSKA Klaudia,F,Poland,POL,2020,Summer,Tokyo,Canoe Slalom,Women's Kayak,No medal
237669,15117,ZYKOVA Yulia,F,Russia,ROC,2020,Summer,Tokyo,Shooting,50m Rifle 3 Positions Women,Silver
237670,15118,ZYUZINA Ekaterina,F,Russia,ROC,2020,Summer,Tokyo,Sailing,Women's One Person Dinghy - Laser Radial,No medal
237671,15119,ZYZANSKA Sylwia,F,Poland,POL,2020,Summer,Tokyo,Archery,Women's Individual,No medal
237672,15120,ZYZANSKA Sylwia,F,Poland,POL,2020,Summer,Tokyo,Archery,Mixed Team,No medal

In [14]:
df_paris_medals = pd.read_csv('medallists[1].csv')
df_paris_athletes = pd.read_csv('athletes[1].csv')
df_paris_medals

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,team,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist
0,2024-07-27,Gold Medal,1.0,EVENEPOEL Remco,Male,BEL,Belgium,Belgium,BEL,Belgium,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,2000-01-25,1903136,NaN,True
1,2024-07-27,Silver Medal,2.0,GANNA Filippo,Male,ITA,Italy,Italy,ITA,Italy,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1996-07-25,1923520,NaN,True
2,2024-07-27,Bronze Medal,3.0,van AERT Wout,Male,BEL,Belgium,Belgium,BEL,Belgium,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1994-09-15,1903147,NaN,True
3,2024-07-27,Gold Medal,1.0,BROWN Grace,Female,AUS,Australia,Australia,AUS,Australia,...,NaN,NaN,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1992-07-07,1940173,NaN,True
4,2024-07-27,Silver Medal,2.0,HENDERSON Anna,Female,GBR,Great Britain,Great Britain,GBR,Great Britain,...,NaN,NaN,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1998-11-14,1912525,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2310,2024-08-10,Bronze Medal,3.0,CENTOFANTI Martina,Female,ITA,Italy,Italy,ITA,Italy,...,Italy,W,Rhythmic Gymnastics,Group All-Around,TEAM,NaN,1998-05-19,1923700,GRYW5AA-----ITA01,True
2311,2024-08-10,Bronze Medal,3.0,DURANTI Agnese,Female,ITA,Italy,Italy,ITA,Italy,...,Italy,W,Rhythmic Gymnastics,Group All-Around,TEAM,NaN,2000-12-18,1923701,GRYW5AA-----ITA01,True
2312,2024-08-10,Bronze Medal,3.0,MAURELLI Alessia,Female,ITA,Italy,Italy,ITA,Italy,...,Italy,W,Rhythmic Gymnastics,Group All-Around,TEAM,NaN,1996-08-22,1923699,GRYW5AA-----ITA01,True
2313,2024-08-10,Bronze Medal,3.0,MOGUREAN Daniela,Female,ITA,Italy,Italy,ITA,Italy,...,Italy,W,Rhythmic Gymnastics,Group All-Around,TEAM,NaN,2001-07-16,1923703,GRYW5AA-----ITA01,True
2314,2024-08-10,Bronze Medal,3.0,PARIS Laura,Female,ITA,Italy,Italy,ITA,Italy,...,Italy,W,Rhythmic Gymnastics,Group All-Around,TEAM,NaN,2002-09-07,1923704,GRYW5AA-----ITA01,True

In [15]:
df_paris_medals.isnull().sum()

medal_date            0
medal_type            0
medal_code            1
name                  0
gender                0
country_code          0
country               0
country_long          0
nationality_code      1
nationality           1
nationality_long      1
team                760
team_gender         760
discipline            0
event                 0
event_type            0
url_event            21
birth_date            0
code_athlete          0
code_team           760
is_medallist          0
dtype: int64

In [16]:
df_paris_medals_clean = df_paris_medals.drop(['medal_code', 'medal_date', 'event_type', 'url_event', 'country_long', 'code_team', 
                                              'is_medallist', 'birth_date', 'team', 'team_gender', 'nationality_long',
                                             'nationality', 'nationality_code'], axis=1)

In [17]:
df_paris_medals_clean

,medal_type,name,gender,country_code,country,discipline,event,code_athlete
0,Gold Medal,EVENEPOEL Remco,Male,BEL,Belgium,Cycling Road,Men's Individual Time Trial,1903136
1,Silver Medal,GANNA Filippo,Male,ITA,Italy,Cycling Road,Men's Individual Time Trial,1923520
2,Bronze Medal,van AERT Wout,Male,BEL,Belgium,Cycling Road,Men's Individual Time Trial,1903147
3,Gold Medal,BROWN Grace,Female,AUS,Australia,Cycling Road,Women's Individual Time Trial,1940173
4,Silver Medal,HENDERSON Anna,Female,GBR,Great Britain,Cycling Road,Women's Individual Time Trial,1912525
...,...,...,...,...,...,...,...,...
2310,Bronze Medal,CENTOFANTI Martina,Female,ITA,Italy,Rhythmic Gymnastics,Group All-Around,1923700
2311,Bronze Medal,DURANTI Agnese,Female,ITA,Italy,Rhythmic Gymnastics,Group All-Around,1923701
2312,Bronze Medal,MAURELLI Alessia,Female,ITA,Italy,Rhythmic Gymnastics,Group All-Around,1923699
2313,Bronze Medal,MOGUREAN Daniela,Female,ITA,Italy,Rhythmic Gymnastics,Group All-Around,1923703
2314,Bronze Medal,PARIS Laura,Female,ITA,Italy,Rhythmic Gymnastics,Group All-Around,1923704

In [18]:
df_paris_medals_clean.isnull().sum()

medal_type      0
name            0
gender          0
country_code    0
country         0
discipline      0
event           0
code_athlete    0
dtype: int64

In [19]:
df_paris_medals_clean['gender'] = df_paris_medals_clean['gender'].replace('Male', 'M')
df_paris_medals_clean['gender'] = df_paris_medals_clean['gender'].replace('Female', 'F')

df_paris_medals_clean

,medal_type,name,gender,country_code,country,discipline,event,code_athlete
0,Gold Medal,EVENEPOEL Remco,M,BEL,Belgium,Cycling Road,Men's Individual Time Trial,1903136
1,Silver Medal,GANNA Filippo,M,ITA,Italy,Cycling Road,Men's Individual Time Trial,1923520
2,Bronze Medal,van AERT Wout,M,BEL,Belgium,Cycling Road,Men's Individual Time Trial,1903147
3,Gold Medal,BROWN Grace,F,AUS,Australia,Cycling Road,Women's Individual Time Trial,1940173
4,Silver Medal,HENDERSON Anna,F,GBR,Great Britain,Cycling Road,Women's Individual Time Trial,1912525
...,...,...,...,...,...,...,...,...
2310,Bronze Medal,CENTOFANTI Martina,F,ITA,Italy,Rhythmic Gymnastics,Group All-Around,1923700
2311,Bronze Medal,DURANTI Agnese,F,ITA,Italy,Rhythmic Gymnastics,Group All-Around,1923701
2312,Bronze Medal,MAURELLI Alessia,F,ITA,Italy,Rhythmic Gymnastics,Group All-Around,1923699
2313,Bronze Medal,MOGUREAN Daniela,F,ITA,Italy,Rhythmic Gymnastics,Group All-Around,1923703
2314,Bronze Medal,PARIS Laura,F,ITA,Italy,Rhythmic Gymnastics,Group All-Around,1923704

In [20]:
df_paris_medals_clean['medal_type'] = df_paris_medals_clean['medal_type'].replace({
    'Gold Medal': 'Gold',
    'Silver Medal': 'Silver',
    'Bronze Medal': 'Bronze'
})

In [21]:
df_paris_athletes.isnull().sum()

code                      0
current                   0
name                      0
name_short                3
name_tv                   3
gender                    0
function                  0
country_code              0
country                   0
country_long              0
nationality               3
nationality_long          3
nationality_code          3
height                    3
weight                    5
disciplines               0
events                    0
birth_date                0
birth_place            2386
birth_country          1638
residence_place        4309
residence_country      2825
nickname               8147
hobbies                6906
occupation             1529
education              5575
family                 5552
lang                    508
coach                  2891
reason                 5267
hero                   7798
influence              8958
philosophy             8330
sporting_relatives     8595
ritual                10256
other_sports          10053
dtype: int64

In [22]:
df_paris_athletes['name_tv'] = df_paris_athletes['name_tv'].fillna(df_paris_athletes['name'])
df_paris_athletes

,code,current,name,name_short,name_tv,gender,function,country_code,country,country_long,...,family,lang,coach,reason,hero,influence,philosophy,sporting_relatives,ritual,other_sports
0,1532872,True,ALEKSANYAN Artur,ALEKSANYAN A,Artur ALEKSANYAN,Male,Athlete,ARM,Armenia,Armenia,...,"Father, Gevorg Aleksanyan","Armenian, English, Russian","Gevorg Aleksanyan (ARM), father",He followed his father and his uncle into the ...,"Footballer Zinedine Zidane (FRA), World Cup wi...","His father, Gevorg Aleksanyan","""Wrestling is my life."" (mediamax.am. 18 May 2...",NaN,NaN,NaN
1,1532873,True,AMOYAN Malkhas,AMOYAN M,Malkhas AMOYAN,Male,Athlete,ARM,Armenia,Armenia,...,NaN,Armenian,NaN,NaN,NaN,NaN,"""To become a good athlete, you first have to b...","Uncle, Roman Amoyan (wrestling), 2008 Olympic ...",NaN,NaN
2,1532874,True,GALSTYAN Slavik,GALSTYAN S,Slavik GALSTYAN,Male,Athlete,ARM,Armenia,Armenia,...,NaN,Armenian,Personal: Martin Alekhanyan (ARM).<br>National...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1532944,True,HARUTYUNYAN Arsen,HARUTYUNYAN A,Arsen HARUTYUNYAN,Male,Athlete,ARM,Armenia,Armenia,...,"Wife, Diana (married October 2022). Daughter, ...",Armenian,National: Habetnak Kurghinyan,While doing karate he noticed wrestlers traini...,"Wrestler Armen Nazaryan (ARM, BUL), two-time O...",NaN,"â€œNothing is impossible, set goals in front of ...",NaN,NaN,NaN
4,1532945,True,TEVANYAN Vazgen,TEVANYAN V,Vazgen TEVANYAN,Male,Athlete,ARM,Armenia,Armenia,...,"Wife, Sona (married November 2023)","Armenian, Russian",National: Habetnak Kurghinyan (ARM),â€œMy family did not like wrestling very much. A...,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11108,4986655,True,ADA ETO Sefora,ADA ETO S,Sefora ADA ETO,Female,Athlete,GEQ,Equatorial Guinea,Equatorial Guinea,...,NaN,Spanish,Personal: Feliciano Javier y Mananses Mba Micha,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11109,9460001,True,LIUZZI Emanuela,LIUZZI E,Emanuela LIUZZI,Female,Athlete,ITA,Italy,Italy,...,NaN,Italian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11110,1972077,False,BOERS Isayah,NaN,BOERS Isayah,Male,Athlete,NED,Netherlands,Netherlands,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11111,1899865,False,STAUT Kevin,NaN,STAUT Kevin,Male,Athlete,FRA,France,France,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11112,1924402,False,CARVELL Charlie,NaN,CARVELL Charlie,Male,Athlete,GBR,Great Britain,Great Britain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df_paris_athletes['gender'] = df_paris_athletes['gender'].replace('Female', 'F')
df_paris_athletes['gender'] = df_paris_athletes['gender'].replace('Male', 'M')
df_paris_athletes

,code,current,name,name_short,name_tv,gender,function,country_code,country,country_long,...,family,lang,coach,reason,hero,influence,philosophy,sporting_relatives,ritual,other_sports
0,1532872,True,ALEKSANYAN Artur,ALEKSANYAN A,Artur ALEKSANYAN,M,Athlete,ARM,Armenia,Armenia,...,"Father, Gevorg Aleksanyan","Armenian, English, Russian","Gevorg Aleksanyan (ARM), father",He followed his father and his uncle into the ...,"Footballer Zinedine Zidane (FRA), World Cup wi...","His father, Gevorg Aleksanyan","""Wrestling is my life."" (mediamax.am. 18 May 2...",NaN,NaN,NaN
1,1532873,True,AMOYAN Malkhas,AMOYAN M,Malkhas AMOYAN,M,Athlete,ARM,Armenia,Armenia,...,NaN,Armenian,NaN,NaN,NaN,NaN,"""To become a good athlete, you first have to b...","Uncle, Roman Amoyan (wrestling), 2008 Olympic ...",NaN,NaN
2,1532874,True,GALSTYAN Slavik,GALSTYAN S,Slavik GALSTYAN,M,Athlete,ARM,Armenia,Armenia,...,NaN,Armenian,Personal: Martin Alekhanyan (ARM).<br>National...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1532944,True,HARUTYUNYAN Arsen,HARUTYUNYAN A,Arsen HARUTYUNYAN,M,Athlete,ARM,Armenia,Armenia,...,"Wife, Diana (married October 2022). Daughter, ...",Armenian,National: Habetnak Kurghinyan,While doing karate he noticed wrestlers traini...,"Wrestler Armen Nazaryan (ARM, BUL), two-time O...",NaN,"â€œNothing is impossible, set goals in front of ...",NaN,NaN,NaN
4,1532945,True,TEVANYAN Vazgen,TEVANYAN V,Vazgen TEVANYAN,M,Athlete,ARM,Armenia,Armenia,...,"Wife, Sona (married November 2023)","Armenian, Russian",National: Habetnak Kurghinyan (ARM),â€œMy family did not like wrestling very much. A...,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11108,4986655,True,ADA ETO Sefora,ADA ETO S,Sefora ADA ETO,F,Athlete,GEQ,Equatorial Guinea,Equatorial Guinea,...,NaN,Spanish,Personal: Feliciano Javier y Mananses Mba Micha,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11109,9460001,True,LIUZZI Emanuela,LIUZZI E,Emanuela LIUZZI,F,Athlete,ITA,Italy,Italy,...,NaN,Italian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11110,1972077,False,BOERS Isayah,NaN,BOERS Isayah,M,Athlete,NED,Netherlands,Netherlands,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11111,1899865,False,STAUT Kevin,NaN,STAUT Kevin,M,Athlete,FRA,France,France,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11112,1924402,False,CARVELL Charlie,NaN,CARVELL Charlie,M,Athlete,GBR,Great Britain,Great Britain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df_athletes_paris_clean = df_paris_athletes.drop(['current', 'name_tv', 'name_short', 'function', 'country_long', 'nationality', 'nationality_long',
                                           'nationality_code', 'height', 'weight', 'birth_date', 'birth_place', 'birth_country', 
                                            'residence_place', 'residence_country', 'nickname', 'hobbies', 'occupation', 'education',
                                           'family', 'lang', 'coach', 'reason', 'hero', 'influence', 'philosophy', 'sporting_relatives',
                                           'ritual', 'other_sports'], axis=1)
df_athletes_paris_clean

,code,name,gender,country_code,country,disciplines,events
0,1532872,ALEKSANYAN Artur,M,ARM,Armenia,['Wrestling'],"[""Men's Greco-Roman 97kg""]"
1,1532873,AMOYAN Malkhas,M,ARM,Armenia,['Wrestling'],"[""Men's Greco-Roman 77kg""]"
2,1532874,GALSTYAN Slavik,M,ARM,Armenia,['Wrestling'],"[""Men's Greco-Roman 67kg""]"
3,1532944,HARUTYUNYAN Arsen,M,ARM,Armenia,['Wrestling'],"[""Men's Freestyle 57kg""]"
4,1532945,TEVANYAN Vazgen,M,ARM,Armenia,['Wrestling'],"[""Men's Freestyle 65kg""]"
...,...,...,...,...,...,...,...
11108,4986655,ADA ETO Sefora,F,GEQ,Equatorial Guinea,['Athletics'],"[""Women's 100m""]"
11109,9460001,LIUZZI Emanuela,F,ITA,Italy,['Wrestling'],"[""Women's Freestyle 50kg""]"
11110,1972077,BOERS Isayah,M,NED,Netherlands,[Athletics],[4 x 400m Relay Mixed]
11111,1899865,STAUT Kevin,M,FRA,France,[Equestrian],[Jumping Team]
11112,1924402,CARVELL Charlie,M,GBR,Great Britain,[Athletics],[Men's 4 x 400m Relay]

In [25]:
df_athletes_paris_clean['year'] = 2024
df_athletes_paris_clean['season'] = "Summer"
df_athletes_paris_clean

,code,name,gender,country_code,country,disciplines,events,year,season
0,1532872,ALEKSANYAN Artur,M,ARM,Armenia,['Wrestling'],"[""Men's Greco-Roman 97kg""]",2024,Summer
1,1532873,AMOYAN Malkhas,M,ARM,Armenia,['Wrestling'],"[""Men's Greco-Roman 77kg""]",2024,Summer
2,1532874,GALSTYAN Slavik,M,ARM,Armenia,['Wrestling'],"[""Men's Greco-Roman 67kg""]",2024,Summer
3,1532944,HARUTYUNYAN Arsen,M,ARM,Armenia,['Wrestling'],"[""Men's Freestyle 57kg""]",2024,Summer
4,1532945,TEVANYAN Vazgen,M,ARM,Armenia,['Wrestling'],"[""Men's Freestyle 65kg""]",2024,Summer
...,...,...,...,...,...,...,...,...,...
11108,4986655,ADA ETO Sefora,F,GEQ,Equatorial Guinea,['Athletics'],"[""Women's 100m""]",2024,Summer
11109,9460001,LIUZZI Emanuela,F,ITA,Italy,['Wrestling'],"[""Women's Freestyle 50kg""]",2024,Summer
11110,1972077,BOERS Isayah,M,NED,Netherlands,[Athletics],[4 x 400m Relay Mixed],2024,Summer
11111,1899865,STAUT Kevin,M,FRA,France,[Equestrian],[Jumping Team],2024,Summer
11112,1924402,CARVELL Charlie,M,GBR,Great Britain,[Athletics],[Men's 4 x 400m Relay],2024,Summer

In [26]:
df_athletes_paris_clean['name'].unique().size

11103

In [27]:
df_athletes_paris_clean['events'].head(50)

0                            ["Men's Greco-Roman 97kg"]
1                            ["Men's Greco-Roman 77kg"]
2                            ["Men's Greco-Roman 67kg"]
3                              ["Men's Freestyle 57kg"]
4                              ["Men's Freestyle 65kg"]
5     ["Women's 20km Race Walk", 'Marathon Race Walk...
6                                        ['Men -60 kg']
7                      ["Women's 100m", "Women's 200m"]
8                                        ["Men's 100m"]
9                                ["Women's Individual"]
10                               ["Women's Individual"]
11                                 ["Men's Individual"]
12                                       ["Men's 100m"]
13                            ["Women's 50m Freestyle"]
14                                     ['Team', 'Duet']
15                                     ['Team', 'Duet']
16                                             ['Team']
17                                             ['Team']
18                                             ['Team']
19                                             ['Team']
20                                             ['Team']
21                                             ['Team']
22                                             ['Team']
23                                       ['Men -81 kg']
24                                     ["Men's +102kg"]
25                                      ["Men's 5000m"]
26                                   ["Men's Marathon"]
27                                      ["Men's 5000m"]
28                                    ["Women's 5000m"]
29                              ["Men's 50m Freestyle"]
30          ["Men's Kayak Single", "Men's Kayak Cross"]
31                                     ["Men's 63.5kg"]
32                                       ["Men's 71kg"]
33    ["Women's 20km Race Walk", 'Marathon Race Walk...
34                                       ["Men's 800m"]
35                                  ["Men's High Jump"]
36                                   ["Men's Shot Put"]
37                               ["Men's Hammer Throw"]
38                             ["Men's 20km Race Walk"]
39                                     ["Women's 400m"]
40                                    ["Women's 5000m"]
41                                    ["Women's 5000m"]
42                                 ["Women's Marathon"]
43                   ['Marathon Race Walk Relay Mixed']
44                                   ["Women's Dinghy"]
45                              ["Women's Windsurfing"]
46                            ["Women's Single Sculls"]
47                  ["Lightweight Men's Double Sculls"]
48                  ["Lightweight Men's Double Sculls"]
49    ['Women', "Women's All-Around", "Women's Balan...
Name: events, dtype: object

In [28]:
print(df_athletes_paris_clean['events'].apply(type).head(10))

0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: events, dtype: object

In [29]:
import ast

def safe_literal_eval(val):
    try:
        return ast.literal_eval(val)
    except (ValueError, SyntaxError):
        return None  

df_athletes_paris_clean['events_converted'] = df_athletes_paris_clean['events'].apply(safe_literal_eval)

problematic_rows = df_athletes_paris_clean[df_athletes_paris_clean['events_converted'].isna()]

print(problematic_rows[['events']].head(10))

                       events
11110  [4 x 400m Relay Mixed]
11111          [Jumping Team]
11112  [Men's 4 x 400m Relay]

In [30]:
df_athletes_paris_clean.at[11110, 'events_converted'] = ["4 x 400m Relay Mixed"]
df_athletes_paris_clean.at[11111, 'events_converted'] = ["Jumping Team"]
df_athletes_paris_clean.at[11112, 'events_converted'] = ["Men's 4 x 400m Relay"]

In [31]:
print(df_athletes_paris_clean.loc[[11110, 11111, 11112], ['events_converted']])

             events_converted
11110  [4 x 400m Relay Mixed]
11111          [Jumping Team]
11112  [Men's 4 x 400m Relay]

In [34]:
df_athletes_exploded = df_athletes_paris_clean.explode('events_converted')

In [35]:
df_athletes_exploded.head(50)

,code,name,gender,country_code,country,disciplines,events,year,season,events_converted
0,1532872,ALEKSANYAN Artur,M,ARM,Armenia,['Wrestling'],"[""Men's Greco-Roman 97kg""]",2024,Summer,Men's Greco-Roman 97kg
1,1532873,AMOYAN Malkhas,M,ARM,Armenia,['Wrestling'],"[""Men's Greco-Roman 77kg""]",2024,Summer,Men's Greco-Roman 77kg
2,1532874,GALSTYAN Slavik,M,ARM,Armenia,['Wrestling'],"[""Men's Greco-Roman 67kg""]",2024,Summer,Men's Greco-Roman 67kg
3,1532944,HARUTYUNYAN Arsen,M,ARM,Armenia,['Wrestling'],"[""Men's Freestyle 57kg""]",2024,Summer,Men's Freestyle 57kg
4,1532945,TEVANYAN Vazgen,M,ARM,Armenia,['Wrestling'],"[""Men's Freestyle 65kg""]",2024,Summer,Men's Freestyle 65kg
5,1532951,ARENAS Lorena,F,COL,Colombia,['Athletics'],"[""Women's 20km Race Walk"", 'Marathon Race Walk...",2024,Summer,Women's 20km Race Walk
5,1532951,ARENAS Lorena,F,COL,Colombia,['Athletics'],"[""Women's 20km Race Walk"", 'Marathon Race Walk...",2024,Summer,Marathon Race Walk Relay Mixed
6,1533112,McKENZIE Ashley,M,JAM,Jamaica,['Judo'],['Men -60 kg'],2024,Summer,Men -60 kg
7,1533136,BASS BITTAYE Gina Mariam,F,GAM,Gambia,['Athletics'],"[""Women's 100m"", ""Women's 200m""]",2024,Summer,Women's 100m
7,1533136,BASS BITTAYE Gina Mariam,F,GAM,Gambia,['Athletics'],"[""Women's 100m"", ""Women's 200m""]",2024,Summer,Women's 200m
8,1533176,CAMARA Ebrahima,M,GAM,Gambia,['Athletics'],"[""Men's 100m""]",2024,Summer,Men's 100m
9,1533188,RUEDA SANTOS Lizeth,F,MEX,Mexico,['Triathlon'],"[""Women's Individual""]",2024,Summer,Women's Individual
10,1533189,TAPIA VIDAL Rosa Maria,F,MEX,Mexico,['Triathlon'],"[""Women's Individual""]",2024,Summer,Women's Individual
11,1533190,GRAJALES Crisanto,M,MEX,Mexico,['Triathlon'],"[""Men's Individual""]",2024,Summer,Men's Individual
12,1533208,MAAROUFOU Hachim,M,COM,Comoros,['Athletics'],"[""Men's 100m""]",2024,Summer,Men's 100m
13,1533209,SAADI Maesha,F,COM,Comoros,['Swimming'],"[""Women's 50m Freestyle""]",2024,Summer,Women's 50m Freestyle
14,1533230,DIOSDADO Nuria,F,MEX,Mexico,['Artistic Swimming'],"['Team', 'Duet']",2024,Summer,Team
14,1533230,DIOSDADO Nuria,F,MEX,Mexico,['Artistic Swimming'],"['Team', 'Duet']",2024,Summer,Duet
15,1533231,JIMENEZ Joana,F,MEX,Mexico,['Artistic Swimming'],"['Team', 'Duet']",2024,Summer,Team
15,1533231,JIMENEZ Joana,F,MEX,Mexico,['Artistic Swimming'],"['Team', 'Duet']",2024,Summer,Duet
16,1533232,SOBRINO Jessica,F,MEX,Mexico,['Artistic Swimming'],['Team'],2024,Summer,Team
17,1533234,ALFEREZ Regina,F,MEX,Mexico,['Artistic Swimming'],['Team'],2024,Summer,Team
18,1533235,ARELLANO Fernanda,F,MEX,Mexico,['Artistic Swimming'],['Team'],2024,Summer,Team
19,1533237,TOSCANO Pamela,F,MEX,Mexico,['Artistic Swimming'],['Team'],2024,Summer,Team
20,1533239,GONZALEZ Itzamary,F,MEX,Mexico,['Artistic Swimming'],['Team'],2024,Summer,Team
21,1533240,RODRIGUEZ Samanta,F,MEX,Mexico,['Artistic Swimming'],['Team'],2024,Summer,Team
22,1533243,INZUNZA Glenda,F,MEX,Mexico,['Artistic Swimming'],['Team'],2024,Summer,Team
23,1533245,SEHEN Sajjad,M,IRQ,Iraq,['Judo'],['Men -81 kg'],2024,Summer,Men -81 kg
24,1533359,RUBAIAWI Ali Ammar Yusur,M,IRQ,Iraq,['Weightlifting'],"[""Men's +102kg""]",2024,Summer,Men's +102kg
25,1533364,ISMAIL Mohamed,M,DJI,Djibouti,['Athletics'],"[""Men's 5000m""]",2024,Summer,Men's 5000m
26,1533371,HASSAN Ibrahim,M,DJI,Djibouti,['Athletics'],"[""Men's Marathon""]",2024,Summer,Men's Marathon
27,1533372,WAISS Abdi,M,DJI,Djibouti,['Athletics'],"[""Men's 5000m""]",2024,Summer,Men's 5000m
28,1533374,HASSAN NOUR Samiyah,F,DJI,Djibouti,['Athletics'],"[""Women's 5000m""]",2024,Summer,Women's 5000m
29,1533378,HOUSSEIN BARKAT Houmed,M,DJI,Djibouti,['Swimming'],"[""Men's 50m Freestyle""]",2024,Summer,Men's 50m Freestyle
30,1535180,BARAT Andy,M,COM,Comoros,['Canoe Slalom'],"[""Men's Kayak Single"", ""Men's Kayak Cross""]",2024,Summer,Men's Kayak Single
30,1535180,BARAT Andy,M,COM,Comoros,['Canoe Slalom'],"[""Men's Kayak Single"", ""Men's Kayak Cross""]",2024,Summer,Men's Kayak Cross
31,1535186,MARTINEZ RAMIREZ Miguel Angel,M,MEX,Mexico,['Boxing'],"[""Men's 63.5kg""]",2024,Summer,Men's 63.5kg
32,1535187,VERDE ALVAREZ Marco Alonso,M,MEX,Mexico,['Boxing'],"[""Men's 71kg""]",2024,Summer,Men's 71kg
33,1535191,GONZALEZ Alegna,F,MEX,Mexico,['Athletics'],"[""Women's 20km Race Walk"", 'Marathon Race Walk...",2024,Summer,Women's 20km Race Walk
33,1535191,GONZALEZ Alegna,F,MEX,Mexico,['Athletics'],"[""Women's 20km Race Walk"", 'Marathon Race Walk...",2024,Summer,Marathon Race Walk Relay Mixed
34,1535195,LOPEZ Jesus Tonatiu,M,MEX,Mexico,['Athletics'],"[""Men's 800m""]",2024,Summer,Men's 800m
35,1535199,PORTILLO Erick,M,MEX,Mexico,['Athletics'],"[""Men's High Jump""]",2024,Summer,Men's High Jump
36,1535201,MUNOZ Uziel,M,MEX,Mexico,['Athletics'],"[""Men's Shot Put""]",2024,Summer,Men's Shot Put
37,1535202,del REAL Diego,M,MEX,Mexico,['Athletics'],"[""Men's Hammer Throw""]",2024,Summer,Men's Hammer Throw
38,1535203,DOCTOR Jose Luis,M,MEX,Mexico,['Athletics'],"[""Men's 20km Race Walk""]",2024,Summer,Men's 20km Race Walk
39,1535212,MORAN Paola,F,MEX,Mexico,['Athletics'],"[""Women's 400m""]",2024,Summer,Women's 400m
40,1535214,GALVAN Laura,F,MEX,Mexico,['Athletics'],"[""Women's 5000m""]",2024,Summer,Women's 5000m
41,1535216,CORTES Alma Delia,F,MEX,Mexico,['Athletics'],"[""Women's 5000m""]",2024,Summer,Women's 5000m
42,1535217,CRISTIAN MOSCOTE Citlali,F,MEX,Mexico,['Athletics'],"[""Women's Marathon""]",2024,Summer,Women's Marathon
43,1535222,PALMA OLIVARES Ever Jair,M,MEX,Mexico,['Athletics'],['Marathon Race Walk Relay Mixed'],2024,Summer,Marathon Race Walk Relay Mixed

In [36]:
print(df_athletes_exploded['disciplines'].apply(type).head(10))

0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
7    <class 'str'>
Name: disciplines, dtype: object

In [37]:
df_athletes_exploded['disciplines'] = df_athletes_exploded['disciplines'].str.strip("[]").str.replace("'", "")
df_athletes_exploded['disciplines'].head(10)

0    Wrestling
1    Wrestling
2    Wrestling
3    Wrestling
4    Wrestling
5    Athletics
5    Athletics
6         Judo
7    Athletics
7    Athletics
Name: disciplines, dtype: object

In [38]:
df_athletes_exploded['city']= "Paris"

In [39]:
df_athletes_paris_to_merge = df_athletes_exploded.drop('events', axis=1)
df_athletes_paris_to_merge

,code,name,gender,country_code,country,disciplines,year,season,events_converted,city
0,1532872,ALEKSANYAN Artur,M,ARM,Armenia,Wrestling,2024,Summer,Men's Greco-Roman 97kg,Paris
1,1532873,AMOYAN Malkhas,M,ARM,Armenia,Wrestling,2024,Summer,Men's Greco-Roman 77kg,Paris
2,1532874,GALSTYAN Slavik,M,ARM,Armenia,Wrestling,2024,Summer,Men's Greco-Roman 67kg,Paris
3,1532944,HARUTYUNYAN Arsen,M,ARM,Armenia,Wrestling,2024,Summer,Men's Freestyle 57kg,Paris
4,1532945,TEVANYAN Vazgen,M,ARM,Armenia,Wrestling,2024,Summer,Men's Freestyle 65kg,Paris
...,...,...,...,...,...,...,...,...,...,...
11108,4986655,ADA ETO Sefora,F,GEQ,Equatorial Guinea,Athletics,2024,Summer,Women's 100m,Paris
11109,9460001,LIUZZI Emanuela,F,ITA,Italy,Wrestling,2024,Summer,Women's Freestyle 50kg,Paris
11110,1972077,BOERS Isayah,M,NED,Netherlands,Athletics,2024,Summer,4 x 400m Relay Mixed,Paris
11111,1899865,STAUT Kevin,M,FRA,France,Equestrian,2024,Summer,Jumping Team,Paris
11112,1924402,CARVELL Charlie,M,GBR,Great Britain,Athletics,2024,Summer,Men's 4 x 400m Relay,Paris

In [40]:
df_athletes_paris_to_merge = df_athletes_paris_to_merge.rename(columns={'disciplines': 'discipline', 'events_converted': 'event'})
df_athletes_paris_to_merge

,code,name,gender,country_code,country,discipline,year,season,event,city
0,1532872,ALEKSANYAN Artur,M,ARM,Armenia,Wrestling,2024,Summer,Men's Greco-Roman 97kg,Paris
1,1532873,AMOYAN Malkhas,M,ARM,Armenia,Wrestling,2024,Summer,Men's Greco-Roman 77kg,Paris
2,1532874,GALSTYAN Slavik,M,ARM,Armenia,Wrestling,2024,Summer,Men's Greco-Roman 67kg,Paris
3,1532944,HARUTYUNYAN Arsen,M,ARM,Armenia,Wrestling,2024,Summer,Men's Freestyle 57kg,Paris
4,1532945,TEVANYAN Vazgen,M,ARM,Armenia,Wrestling,2024,Summer,Men's Freestyle 65kg,Paris
...,...,...,...,...,...,...,...,...,...,...
11108,4986655,ADA ETO Sefora,F,GEQ,Equatorial Guinea,Athletics,2024,Summer,Women's 100m,Paris
11109,9460001,LIUZZI Emanuela,F,ITA,Italy,Wrestling,2024,Summer,Women's Freestyle 50kg,Paris
11110,1972077,BOERS Isayah,M,NED,Netherlands,Athletics,2024,Summer,4 x 400m Relay Mixed,Paris
11111,1899865,STAUT Kevin,M,FRA,France,Equestrian,2024,Summer,Jumping Team,Paris
11112,1924402,CARVELL Charlie,M,GBR,Great Britain,Athletics,2024,Summer,Men's 4 x 400m Relay,Paris

In [41]:
print(df_athletes_paris_to_merge['code'].dtype)
print(df_paris_medals_clean['code_athlete'].dtype)

int64
int64

In [42]:
df_athletes_paris_to_merge['code'] = df_athletes_paris_to_merge['code'].astype(str)
df_paris_medals_clean['code'] = df_paris_medals_clean['code_athlete'].astype(str)

In [43]:
merged_df_paris = pd.merge(df_athletes_paris_to_merge, df_paris_medals_clean, how='left', on=['code', 'gender', 'discipline', 'event', 'country_code', 'country'])

In [44]:
merged_df_paris['medal_type'] = merged_df_paris['medal_type'].fillna('No medal')

In [45]:
merged_df_paris =merged_df_paris.drop(columns=['name_y', 'code_athlete'])

In [46]:
merged_df_paris

,code,name_x,gender,country_code,country,discipline,year,season,event,city,medal_type
0,1532872,ALEKSANYAN Artur,M,ARM,Armenia,Wrestling,2024,Summer,Men's Greco-Roman 97kg,Paris,Silver
1,1532873,AMOYAN Malkhas,M,ARM,Armenia,Wrestling,2024,Summer,Men's Greco-Roman 77kg,Paris,Bronze
2,1532874,GALSTYAN Slavik,M,ARM,Armenia,Wrestling,2024,Summer,Men's Greco-Roman 67kg,Paris,No medal
3,1532944,HARUTYUNYAN Arsen,M,ARM,Armenia,Wrestling,2024,Summer,Men's Freestyle 57kg,Paris,No medal
4,1532945,TEVANYAN Vazgen,M,ARM,Armenia,Wrestling,2024,Summer,Men's Freestyle 65kg,Paris,No medal
...,...,...,...,...,...,...,...,...,...,...,...
14887,4986655,ADA ETO Sefora,F,GEQ,Equatorial Guinea,Athletics,2024,Summer,Women's 100m,Paris,No medal
14888,9460001,LIUZZI Emanuela,F,ITA,Italy,Wrestling,2024,Summer,Women's Freestyle 50kg,Paris,No medal
14889,1972077,BOERS Isayah,M,NED,Netherlands,Athletics,2024,Summer,4 x 400m Relay Mixed,Paris,Gold
14890,1899865,STAUT Kevin,M,FRA,France,Equestrian,2024,Summer,Jumping Team,Paris,Bronze
14891,1924402,CARVELL Charlie,M,GBR,Great Britain,Athletics,2024,Summer,Men's 4 x 400m Relay,Paris,Bronze

In [47]:
merged_df_paris[merged_df_paris['name_x'] == "ANDRADE Rebeca"]

,code,name_x,gender,country_code,country,discipline,year,season,event,city,medal_type
11544,1953634,ANDRADE Rebeca,F,BRA,Brazil,Artistic Gymnastics,2024,Summer,Women,Paris,No medal
11545,1953634,ANDRADE Rebeca,F,BRA,Brazil,Artistic Gymnastics,2024,Summer,Women's All-Around,Paris,Silver
11546,1953634,ANDRADE Rebeca,F,BRA,Brazil,Artistic Gymnastics,2024,Summer,Women's Balance Beam,Paris,No medal
11547,1953634,ANDRADE Rebeca,F,BRA,Brazil,Artistic Gymnastics,2024,Summer,Women's Floor Exercise,Paris,Gold
11548,1953634,ANDRADE Rebeca,F,BRA,Brazil,Artistic Gymnastics,2024,Summer,Women's Uneven Bars,Paris,No medal
11549,1953634,ANDRADE Rebeca,F,BRA,Brazil,Artistic Gymnastics,2024,Summer,Women's Vault,Paris,Silver
11550,1953634,ANDRADE Rebeca,F,BRA,Brazil,Artistic Gymnastics,2024,Summer,Women's Team,Paris,Bronze

In [48]:
df_summer_clean

,player_id,Name,Sex,Team,NOC,Year,Season,City,Sport,Event,Medal
0,0,A Dijiang,M,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,No medal
1,1,A Lamusi,M,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,No medal
2,2,Gunnar Nielsen Aaby,M,Denmark,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,No medal
3,3,Edgar Lindenau Aabye,M,Denmark/Sweden,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,26,"Cornelia ""Cor"" Aalten (-Strannood)",F,Netherlands,NED,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,No medal
...,...,...,...,...,...,...,...,...,...,...,...
237668,15116,ZWOLINSKA Klaudia,F,Poland,POL,2020,Summer,Tokyo,Canoe Slalom,Women's Kayak,No medal
237669,15117,ZYKOVA Yulia,F,Russia,ROC,2020,Summer,Tokyo,Shooting,50m Rifle 3 Positions Women,Silver
237670,15118,ZYUZINA Ekaterina,F,Russia,ROC,2020,Summer,Tokyo,Sailing,Women's One Person Dinghy - Laser Radial,No medal
237671,15119,ZYZANSKA Sylwia,F,Poland,POL,2020,Summer,Tokyo,Archery,Women's Individual,No medal
237672,15120,ZYZANSKA Sylwia,F,Poland,POL,2020,Summer,Tokyo,Archery,Mixed Team,No medal

In [49]:
merged_df_paris_clean = merged_df_paris.rename(columns={'code': 'player_id', 'name_x': 'Name', 'gender': 'Sex', 'country': 'Team',
                                                       'country_code': 'NOC', 'discipline': 'Sport', 'year': 'Year', 'season': 'Season',
                                                       'city': 'City', 'event': 'Event', 'medal_type': 'Medal'})
merged_df_paris_clean

,player_id,Name,Sex,NOC,Team,Sport,Year,Season,Event,City,Medal
0,1532872,ALEKSANYAN Artur,M,ARM,Armenia,Wrestling,2024,Summer,Men's Greco-Roman 97kg,Paris,Silver
1,1532873,AMOYAN Malkhas,M,ARM,Armenia,Wrestling,2024,Summer,Men's Greco-Roman 77kg,Paris,Bronze
2,1532874,GALSTYAN Slavik,M,ARM,Armenia,Wrestling,2024,Summer,Men's Greco-Roman 67kg,Paris,No medal
3,1532944,HARUTYUNYAN Arsen,M,ARM,Armenia,Wrestling,2024,Summer,Men's Freestyle 57kg,Paris,No medal
4,1532945,TEVANYAN Vazgen,M,ARM,Armenia,Wrestling,2024,Summer,Men's Freestyle 65kg,Paris,No medal
...,...,...,...,...,...,...,...,...,...,...,...
14887,4986655,ADA ETO Sefora,F,GEQ,Equatorial Guinea,Athletics,2024,Summer,Women's 100m,Paris,No medal
14888,9460001,LIUZZI Emanuela,F,ITA,Italy,Wrestling,2024,Summer,Women's Freestyle 50kg,Paris,No medal
14889,1972077,BOERS Isayah,M,NED,Netherlands,Athletics,2024,Summer,4 x 400m Relay Mixed,Paris,Gold
14890,1899865,STAUT Kevin,M,FRA,France,Equestrian,2024,Summer,Jumping Team,Paris,Bronze
14891,1924402,CARVELL Charlie,M,GBR,Great Britain,Athletics,2024,Summer,Men's 4 x 400m Relay,Paris,Bronze

In [50]:
combined_df = pd.concat([df_summer_clean, merged_df_paris_clean], ignore_index=True)

In [51]:
combined_df

,player_id,Name,Sex,Team,NOC,Year,Season,City,Sport,Event,Medal
0,0,A Dijiang,M,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,No medal
1,1,A Lamusi,M,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,No medal
2,2,Gunnar Nielsen Aaby,M,Denmark,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,No medal
3,3,Edgar Lindenau Aabye,M,Denmark/Sweden,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,26,"Cornelia ""Cor"" Aalten (-Strannood)",F,Netherlands,NED,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,No medal
...,...,...,...,...,...,...,...,...,...,...,...
252560,4986655,ADA ETO Sefora,F,Equatorial Guinea,GEQ,2024,Summer,Paris,Athletics,Women's 100m,No medal
252561,9460001,LIUZZI Emanuela,F,Italy,ITA,2024,Summer,Paris,Wrestling,Women's Freestyle 50kg,No medal
252562,1972077,BOERS Isayah,M,Netherlands,NED,2024,Summer,Paris,Athletics,4 x 400m Relay Mixed,Gold
252563,1899865,STAUT Kevin,M,France,FRA,2024,Summer,Paris,Equestrian,Jumping Team,Bronze
252564,1924402,CARVELL Charlie,M,Great Britain,GBR,2024,Summer,Paris,Athletics,Men's 4 x 400m Relay,Bronze

In [52]:
print(len(combined_df[combined_df['Name'] == 'ANDRADE Rebeca']))
combined_df[combined_df['Name'] == 'ANDRADE Rebeca']

12

,player_id,Name,Sex,Team,NOC,Year,Season,City,Sport,Event,Medal
223058,506,ANDRADE Rebeca,F,Brazil,BRA,2020,Summer,Tokyo,Artistic Gymnastics,Women's All-Around,Silver
223059,507,ANDRADE Rebeca,F,Brazil,BRA,2020,Summer,Tokyo,Artistic Gymnastics,Women's Vault,Gold
223060,508,ANDRADE Rebeca,F,Brazil,BRA,2020,Summer,Tokyo,Artistic Gymnastics,Women's Uneven Bars,No medal
223061,509,ANDRADE Rebeca,F,Brazil,BRA,2020,Summer,Tokyo,Artistic Gymnastics,Women's Balance Beam,No medal
223062,510,ANDRADE Rebeca,F,Brazil,BRA,2020,Summer,Tokyo,Artistic Gymnastics,Women's Floor Exercise,No medal
249217,1953634,ANDRADE Rebeca,F,Brazil,BRA,2024,Summer,Paris,Artistic Gymnastics,Women,No medal
249218,1953634,ANDRADE Rebeca,F,Brazil,BRA,2024,Summer,Paris,Artistic Gymnastics,Women's All-Around,Silver
249219,1953634,ANDRADE Rebeca,F,Brazil,BRA,2024,Summer,Paris,Artistic Gymnastics,Women's Balance Beam,No medal
249220,1953634,ANDRADE Rebeca,F,Brazil,BRA,2024,Summer,Paris,Artistic Gymnastics,Women's Floor Exercise,Gold
249221,1953634,ANDRADE Rebeca,F,Brazil,BRA,2024,Summer,Paris,Artistic Gymnastics,Women's Uneven Bars,No medal
249222,1953634,ANDRADE Rebeca,F,Brazil,BRA,2024,Summer,Paris,Artistic Gymnastics,Women's Vault,Silver
249223,1953634,ANDRADE Rebeca,F,Brazil,BRA,2024,Summer,Paris,Artistic Gymnastics,Women's Team,Bronze

In [53]:
combined_df[(combined_df['Sport'] == 'Gymnastics') & (combined_df['NOC'] == 'BRA')]

,player_id,Name,Sex,Team,NOC,Year,Season,City,Sport,Event,Medal
6305,7231,Rebeca Rodrigues de Andrade,F,Brazil,BRA,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Women's Individual All-Around,No medal
6306,7232,Rebeca Rodrigues de Andrade,F,Brazil,BRA,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Women's Team All-Around,No medal
6307,7233,Rebeca Rodrigues de Andrade,F,Brazil,BRA,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Women's Floor Exercise,No medal
6308,7234,Rebeca Rodrigues de Andrade,F,Brazil,BRA,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Women's Uneven Bars,No medal
6309,7235,Rebeca Rodrigues de Andrade,F,Brazil,BRA,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Women's Balance Beam,No medal
...,...,...,...,...,...,...,...,...,...,...,...
185523,225868,Las da Silva Souza,F,Brazil,BRA,2008,Summer,Beijing,Gymnastics,Gymnastics Women's Uneven Bars,No medal
185524,225869,Las da Silva Souza,F,Brazil,BRA,2008,Summer,Beijing,Gymnastics,Gymnastics Women's Balance Beam,No medal
219977,267707,Arthur Nabarrete Zanetti,M,Brazil,BRA,2012,Summer,London,Gymnastics,Gymnastics Men's Rings,Gold
219978,267708,Arthur Nabarrete Zanetti,M,Brazil,BRA,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Team All-Around,No medal
219979,267709,Arthur Nabarrete Zanetti,M,Brazil,BRA,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Rings,Silver

In [54]:
combined_df[combined_df['Name'] == 'Simone Arianne Biles']

,player_id,Name,Sex,Team,NOC,Year,Season,City,Sport,Event,Medal
18235,21758,Simone Arianne Biles,F,United States,USA,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Women's Individual All-Around,Gold
18236,21759,Simone Arianne Biles,F,United States,USA,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Women's Team All-Around,Gold
18237,21760,Simone Arianne Biles,F,United States,USA,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Women's Floor Exercise,Gold
18238,21761,Simone Arianne Biles,F,United States,USA,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Women's Horse Vault,Gold
18239,21762,Simone Arianne Biles,F,United States,USA,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Women's Uneven Bars,No medal
18240,21763,Simone Arianne Biles,F,United States,USA,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Women's Balance Beam,Bronze

In [55]:
def normalize_name(row):
    if pd.isna(row['Name']):
        return row['Name'] 

    parts = row['Name'].split()
    
    if len(parts) > 1:
        first_name = parts[0]
        last_name = parts[-1].capitalize()
        return f"{first_name} {last_name}"
    else:
        return row['Name']

In [56]:
combined_df['Name'] = combined_df.apply(normalize_name, axis=1)

In [57]:
combined_df.isnull().sum()

player_id    0
Name         0
Sex          0
Team         0
NOC          0
Year         0
Season       0
City         0
Sport        0
Event        0
Medal        0
dtype: int64

In [58]:
combined_df[combined_df['Name'] == 'BILES Simone']

,player_id,Name,Sex,Team,NOC,Year,Season,City,Sport,Event,Medal
223903,1351,BILES Simone,F,United States,USA,2020,Summer,Tokyo,Artistic Gymnastics,Women's All-Around,No medal
223904,1352,BILES Simone,F,United States,USA,2020,Summer,Tokyo,Artistic Gymnastics,Women's Vault,No medal
223905,1353,BILES Simone,F,United States,USA,2020,Summer,Tokyo,Artistic Gymnastics,Women's Uneven Bars,No medal
223906,1354,BILES Simone,F,United States,USA,2020,Summer,Tokyo,Artistic Gymnastics,Women's Balance Beam,Bronze
223907,1355,BILES Simone,F,United States,USA,2020,Summer,Tokyo,Artistic Gymnastics,Women's Floor Exercise,No medal
223908,1356,BILES Simone,F,United States,USA,2020,Summer,Tokyo,Artistic Gymnastics,Women's Team,Silver
249996,1959861,BILES Simone,F,United States,USA,2024,Summer,Paris,Artistic Gymnastics,Women,No medal
249997,1959861,BILES Simone,F,United States,USA,2024,Summer,Paris,Artistic Gymnastics,Women's All-Around,Gold
249998,1959861,BILES Simone,F,United States,USA,2024,Summer,Paris,Artistic Gymnastics,Women's Balance Beam,No medal
249999,1959861,BILES Simone,F,United States,USA,2024,Summer,Paris,Artistic Gymnastics,Women's Floor Exercise,Silver
250000,1959861,BILES Simone,F,United States,USA,2024,Summer,Paris,Artistic Gymnastics,Women's Uneven Bars,No medal
250001,1959861,BILES Simone,F,United States,USA,2024,Summer,Paris,Artistic Gymnastics,Women's Vault,Gold
250002,1959861,BILES Simone,F,United States,USA,2024,Summer,Paris,Artistic Gymnastics,Women's Team,Gold

In [59]:
def normalize_name_last_first(row):
    if pd.isna(row['Name']):
        return row['Name'] 
    
    if row['Year'] in [2020, 2024]:
        parts = row['Name'].split()
        if len(parts) > 1 and parts[0].isupper():  
            first_name = parts[1].capitalize()     
            last_name = parts[0].capitalize()      
            return f"{first_name} {last_name}"
    
    return row['Name']

In [60]:
df= combined_df.copy()
df['Name'] = combined_df.apply(normalize_name_last_first, axis=1)

In [61]:
df

,player_id,Name,Sex,Team,NOC,Year,Season,City,Sport,Event,Medal
0,0,A Dijiang,M,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,No medal
1,1,A Lamusi,M,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,No medal
2,2,Gunnar Aaby,M,Denmark,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,No medal
3,3,Edgar Aabye,M,Denmark/Sweden,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,26,Cornelia (-strannood),F,Netherlands,NED,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,No medal
...,...,...,...,...,...,...,...,...,...,...,...
252560,4986655,Sefora Ada,F,Equatorial Guinea,GEQ,2024,Summer,Paris,Athletics,Women's 100m,No medal
252561,9460001,Emanuela Liuzzi,F,Italy,ITA,2024,Summer,Paris,Wrestling,Women's Freestyle 50kg,No medal
252562,1972077,Isayah Boers,M,Netherlands,NED,2024,Summer,Paris,Athletics,4 x 400m Relay Mixed,Gold
252563,1899865,Kevin Staut,M,France,FRA,2024,Summer,Paris,Equestrian,Jumping Team,Bronze
252564,1924402,Charlie Carvell,M,Great Britain,GBR,2024,Summer,Paris,Athletics,Men's 4 x 400m Relay,Bronze

In [62]:
df[df['Name'] == 'Simone Biles']

,player_id,Name,Sex,Team,NOC,Year,Season,City,Sport,Event,Medal
18235,21758,Simone Biles,F,United States,USA,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Women's Individual All-Around,Gold
18236,21759,Simone Biles,F,United States,USA,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Women's Team All-Around,Gold
18237,21760,Simone Biles,F,United States,USA,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Women's Floor Exercise,Gold
18238,21761,Simone Biles,F,United States,USA,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Women's Horse Vault,Gold
18239,21762,Simone Biles,F,United States,USA,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Women's Uneven Bars,No medal
18240,21763,Simone Biles,F,United States,USA,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Women's Balance Beam,Bronze
223903,1351,Simone Biles,F,United States,USA,2020,Summer,Tokyo,Artistic Gymnastics,Women's All-Around,No medal
223904,1352,Simone Biles,F,United States,USA,2020,Summer,Tokyo,Artistic Gymnastics,Women's Vault,No medal
223905,1353,Simone Biles,F,United States,USA,2020,Summer,Tokyo,Artistic Gymnastics,Women's Uneven Bars,No medal
223906,1354,Simone Biles,F,United States,USA,2020,Summer,Tokyo,Artistic Gymnastics,Women's Balance Beam,Bronze
223907,1355,Simone Biles,F,United States,USA,2020,Summer,Tokyo,Artistic Gymnastics,Women's Floor Exercise,No medal
223908,1356,Simone Biles,F,United States,USA,2020,Summer,Tokyo,Artistic Gymnastics,Women's Team,Silver
249996,1959861,Simone Biles,F,United States,USA,2024,Summer,Paris,Artistic Gymnastics,Women,No medal
249997,1959861,Simone Biles,F,United States,USA,2024,Summer,Paris,Artistic Gymnastics,Women's All-Around,Gold
249998,1959861,Simone Biles,F,United States,USA,2024,Summer,Paris,Artistic Gymnastics,Women's Balance Beam,No medal
249999,1959861,Simone Biles,F,United States,USA,2024,Summer,Paris,Artistic Gymnastics,Women's Floor Exercise,Silver
250000,1959861,Simone Biles,F,United States,USA,2024,Summer,Paris,Artistic Gymnastics,Women's Uneven Bars,No medal
250001,1959861,Simone Biles,F,United States,USA,2024,Summer,Paris,Artistic Gymnastics,Women's Vault,Gold
250002,1959861,Simone Biles,F,United States,USA,2024,Summer,Paris,Artistic Gymnastics,Women's Team,Gold

In [63]:
df.to_csv('olympics_dataset.csv', index=False)